<html>

  <body>
    <h1>hello : {{name}} </h1>   {#this is using el variable eli heya name , eli mahtouta fel router ! #}
 <a href ="{{path('app_contact')}}">contact us</a>   {#to include links in twig we should use this format : path = "name taa el router moch el/" #}
  <a href ="{{path('app_home')}}">home </a>


    </body>

 </html>